# 秘密情報
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# 生成物
submissions_*/
submissions/
*.png
figures/
logs/

# データ（大きいファイルはGitに含めない場合はコメント解除）
# train.csv
# test.csv
# sample_submit.csv

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
